body {
    padding-bottom: 20px;
    background-color: #529246;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

h1 {
    background-color: #529246;
    font-size: 40px;
    text-align: center;
}

form {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 100%;
}

label {
    font-weight: bold;
    display: block;
}

input {
    margin-bottom: 20px;
}

legend {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 15px;
}

.text-box {
    background-color: #979797;
    padding: 5px;
    border-radius: 5%;
}

.text-box:focus {
    background-color: #b6eaaa;
}

.submit {
    background-color: #529246;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.submit:hover {
    background-color: #b6eaaa;
    color: #000000;
}