<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <title>Playlist Generator</title>
</head>
<body>
    <h1>Playlist Generator</h1>
    <form method="post">
        <legend>Who is your favorite artist?</legend>
        <label for="artist"></label>
        <input class="text-box" type="text" name="artist" id="artist" autocomplete="off">
        <fieldset>
            <legend>What is your general mood right now?</legend>
            <label for="happy"><input type="radio" name="mood" id="happy" value="happy">Happy</label>
            <label for="sad"><input type="radio" name="mood" id="sad" value="sad">Sad</label>
            <label for="angry"><input type="radio" name="mood" id="angry" value="angry">Angry</label>
        </fieldset>
        <fieldset>
            <legend>How energetic are you right now?</legend>
            <label class="block" for="high"><input type="radio" name="energy" id="high" value="high">High</label>
            <label class="block" for="medium"><input type="radio" name="energy" id="medium" value="medium">Medium</label>
            <label class="block" for="low"><input type="radio" name="energy" id="low" value="low">Low</label>
        </fieldset>
        <fieldset>
            <legend>Are you in the mood to dance right now?!</legend>
            <label class="block" for="yes"><input type="radio" name="dance" id="yes" value="yes">Yes</label>
            <label class="block" for="no"><input type="radio" name="dance" id="no" value="no">No</label>
        </fieldset>
        <input class="submit" type="submit" value="Submit">
    </form>
</body>
</html>