<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/playlist.css')}}">
    <title>Playlist Generator</title>
</head>
<body>
    <h1>Playlist Generator</h1>
    <div>
        <p>{% for song in songs.split('_') %}</p>
        <p>{{ song }}</p>
        <p>{% endfor %}</p>
    </div>
    <h2><a href="{{ url_for('index') }}">Generate another playlist</a></h2>        
</body>
</html>